.main{
    background-color: var(--main-bg-color);
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
}


.strengthContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.colorContainer{
    display: flex;
    gap: 8px;
    
}
.strengthColor{
    border: 1px solid white;

    width: 10px;
    height: 28px;
}

.strength{
    color: #817D92;
    
}