.main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
}
.header {
  margin-top: 64px;
  margin-bottom: 16px;
  color: #817d92;
}


 



.generatePassword {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
  background-color: var(--input-bg-color);
  width: 343px;
  height: auto;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}


@media screen and (min-width: 768px) {

  .output,.generatePassword{
    width: 540px;
  }
}

